<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h2>Hei <%= @user.name %>, selamat datang di <%= @site_name %>.</h2>
	<p>
		Kamu telah terdaftar di media sosial <%= @site_name %>.
	</p>

	<p>
		Untuk memasuki media sosial <%= @site_name %>, cukup ikuti link ini : <%= @url %>.
	</p>

	<p>Terima kasih sudah bergabung dan semoga hari-hari kamu menyenangkan !</p>
</body>
</html>