<% provide(:title, "Rubah Profil") %>
<h1>Rubah Profil</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Simpan Perubahan", class: "btn btn-small btn-primary" %>
      <% end %>

      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">Ganti</a>
   </div>
</div>