<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<small><%= link_to feed_item.user.name, feed_item.user %></small>
  	</span>

  	<span class="content"><small><%= wrap(feed_item.content) %></small></span>
  	<span class="timestamp">
      <small><%= time_tag(feed_item.created_at, :format => 'Tanggal %d/%m/%Y Jam %R WIB') %></small>
  	</span>

  	<% if current_user?(feed_item.user) %>
    <small>
    	<%= link_to "Hapus", feed_item, 	method: :delete, data: { confirm: "Kamu yakin ?" }, title: feed_item.content %>
      </small>
  	<% end %>
</li>