<footer class="footer">
  <div class="container transparent">
    <div class="row-fluid">
      <nav>
        <ul>
          <li><%= link_to "Tentang", tentang_path %></li>
          <li><%= link_to "Kontak", contact_path %></li>
          <li><%= link_to "Tolong", help_path %></li>
          <li><%= link_to "Ketentuan", ketentuan_path %></li>
          <li><small>&copy; <%= Time.now.year %> XTC - 808</small></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>